*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Cyber';
    src: url('Cyberway.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Crushed';
    src: url(Crushed.ttf);
  }
body{
    background-image: url("background.png");
    background-size:cover;
    display: flex;
    justify-content: center;
}
.container{
    background-image: url("container.png");
    background-size: cover;
    height: 75vh;
    border-radius: 30px;
}
h1.defuse{
    text-transform:lowercase;
    text-align: center;
    font-family: 'Cyber';
    color: #FB0087;
    font-size: clamp(2rem, 10vw, 115px);
    text-shadow: -0.03em 0.01em 0.05em #D8FB00;
    padding: 0;
    margin: 0;
}
.hero{
    color: #D8FB00;
    text-align: center;
    font-size: clamp(.5rem, 2.5vw, 18px);
    letter-spacing: 8px;
    padding: 0;
    margin: 0;
}
footer{
    color: #D8FB00;
    text-align: center;
    font-family: 'Cyber';
    font-weight: 700;
    letter-spacing: 15px;
}
a.btn.btn-danger, button.btn.btn-danger, input{
    background-color: #FB0087 !important;
    box-shadow: 0 0 8px 4px #0EC3DE;
    border: none !important; 
}
input#exampleFormControlInput1 {
    color: #D8FB00;
    font-family: 'Crushed';
}
p{
    text-align: justify;
    font-size: clamp(.5rem, 2vw, 16px);
    line-height: 22px;
}
p, button,a{
    text-transform: uppercase;
    font-family: 'Crushed';
    letter-spacing: 1.5px;
    font-size: 18px;
}
span.text-tentativas{
    color: #D8FB00;
}